<!DOCTYPE html>
<html>
<head>
  <title>DeviseCancanApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-tabs" id="tooltip">
  <li><a href="/home" >Home</a></li>
  <li><a href="/contact" >Profile</a></li>
  <li><a href="/message" >Messages</a></li>
  <li><a href="#settings" >Settings</a></li>
</ul>
<%if current_user    %>
<%= link_to 'SignOut',destroy_user_session_path,:method => :delete %>
 <% end%>
<%= yield %>

</body>
</html>

